In [4]:
import os
import configparser
import pandas as pd

In [23]:
BASE_DIR = os.getcwd()
CONFIG = configparser.ConfigParser()
CONFIG.read(os.path.join(BASE_DIR, 'script_config.ini'))

BASE_PATH = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))

DATA_RAW = os.path.join(BASE_PATH, 'raw')
DATA_RESULTS = os.path.join(BASE_PATH, '..', 'results')

In [21]:
df = pd.read_csv("county_states.csv")
df1 = pd.read_csv("cdc_mort_2005to2022_race_recode3sum.csv")
df2 = pd.merge(df, df1, on=["res_statefips", "res_countyfips"], how = "inner")
df2

,state,county_name,state_fips,res_countyfips,res_statefips,race_recode3,mort_count,fileyear,filetype
0,Alabama,Autauga,1,1,AL,White,1,2005,US
1,Alabama,Autauga,1,1,AL,Black,1,2005,US
2,Alabama,Autauga,1,1,AL,White,2,2006,US
3,Alabama,Autauga,1,1,AL,Black,3,2006,US
4,Alabama,Autauga,1,1,AL,White,1,2007,US
...,...,...,...,...,...,...,...,...,...
41854,Wyoming,Weston,56,45,WY,White,1,2008,US
41855,Wyoming,Weston,56,45,WY,White,1,2009,US
41856,Wyoming,Weston,56,45,WY,White,1,2011,US
41857,Wyoming,Weston,56,45,WY,White,1,2015,US
41858,Wyoming,Weston,56,45,WY,White,1,2018,US

In [22]:
df2.to_csv("race_cdc_pulmonary_data.csv", index = False)

## 1. Handling Census Data

First let us import census data, do some pre-processing and cleaning.

In [110]:
census_path = os.path.join(DATA_RAW, 'geodata', 'pop_2020_censu_block.csv')
census = pd.read_csv(census_path, encoding = 'latin')

Next we drop unnecessary columns and then sum up the 2020 population by counties.

<div class="alert alert-block alert-warning">

<b>!! Attention !!</b> We are averaging the county fips but this is not a standard practice. We are only doing it because it will return the same value for each county.

</div>

In [111]:
census = census.drop(['tract', 'state'], axis = 1)

results = census.groupby(["stab", "CountyName"]).agg({"pop20": "sum",
    "county": "mean"}).reset_index()
results.rename(columns={'county': 'county_fips'}, inplace = True)

In [112]:
results

     stab                     CountyName   pop20  county_fips
0      AK                           2063    7102       2063.0
1      AK                           2066    2617       2066.0
2      AK      Aleutians East Borough AK    3420       2013.0
3      AK  Aleutians West Census Area AK    5232       2016.0
4      AK           Anchorage Borough AK  291247       2020.0
...   ...                            ...     ...          ...
3216   WY                  Sweetwater WY   42272      56037.0
3217   WY                       Teton WY   23331      56039.0
3218   WY                       Uinta WY   20450      56041.0
3219   WY                    Washakie WY    7685      56043.0
3220   WY                      Weston WY    6838      56045.0

[3221 rows x 4 columns]

For this data, the two-letter state abbreviation is added at each end of the county name. We therefore need to remove the abbreviations at the end of the names.

In [113]:
results["county_name"] = results["CountyName"].str.replace(r'\s+[A-Z]{2}$', '', regex = True)
results = results.drop(['CountyName'], axis = 1)
results.rename(columns={'stab': 'res_statefips'}, inplace = True)

## 2. Merging Census with Pulmonary Embolism Data

<div class="alert alert-block alert-info">
    
<b>Note:</b> We explain in details how to merge the Census to the pulmonary embolism data by sex and then apply the same approach for age and race. So the subsections of age and race will not be detailed. 

</div>

### a. By Sex

First, let us import the pulmonary embolism data.

In [114]:
pulm_path = os.path.join(DATA_RESULTS, 'sex_cdc_pulmonary_data.csv')
pulmonary = pd.read_csv(pulm_path)

We then calculate the total mortality counts per county, state and sex.

In [107]:
pulmonary_summ = (
    pulmonary.groupby(["res_statefips", "county_name", "sex", 
                       "fileyear"], as_index = False)
       .agg(sum=("mort_count", "sum")))

Next, we merge the two datasets using the state code and the county names.

In [108]:
pulm_cens = pd.merge(results, pulmonary_summ, 
            on = ["res_statefips", "county_name"], how = "inner")
results.rename(columns = {'stab': 'res_statefips'}, inplace = True)
pulm_cens.rename(columns = {'sum': 'total_mortality'}, inplace = True)
pulm_cens

,res_statefips,pop20,county_fips,county_name,sex,fileyear,total_mortality
0,AL,58805,1001.0,Autauga,F,2005,1
1,AL,58805,1001.0,Autauga,F,2006,2
2,AL,58805,1001.0,Autauga,F,2007,2
3,AL,58805,1001.0,Autauga,F,2008,2
4,AL,58805,1001.0,Autauga,F,2010,1
...,...,...,...,...,...,...,...
47313,WY,6838,56045.0,Weston,F,2008,1
47314,WY,6838,56045.0,Weston,F,2015,1
47315,WY,6838,56045.0,Weston,F,2018,1
47316,WY,6838,56045.0,Weston,M,2009,1
47317,WY,6838,56045.0,Weston,M,2011,1

In [109]:
pulm_cens = pulm_cens[['county_fips', 'res_statefips', 'county_name', 
                       'sex', 'fileyear', 'total_mortality']]
pulm_cens.to_csv("pulmonary_census_data.csv", index = False)

### b. By Race

In [121]:
pulm_race_path = os.path.join(DATA_RESULTS, 'race_cdc_pulmonary_data.csv')
pulm_race = pd.read_csv(pulm_race_path)

In [122]:
pulm_race_summ = (
    pulm_race.groupby(["res_statefips", "county_name", "race_recode3", 
                       "fileyear"], as_index = False)
       .agg(sum=("mort_count", "sum")))

In [123]:
pulm_race_cens = pd.merge(results, 
                 pulm_race_summ, on = ["res_statefips", "county_name"], 
                 how = "inner")
pulm_race_cens.rename(columns = {'sum': 'total_mortality'}, inplace = True)
pulm_race_cens = pulm_race_cens[['county_fips', 'res_statefips', 'county_name', 
                       'race_recode3', 'fileyear', 'total_mortality']]
pulm_race_cens.to_csv("pulmonary_census_data.csv", index = False)

### c. By Age

In [124]:
pulm_age_path = os.path.join(DATA_RESULTS, 'age_cdc_pulmonary_data.csv')
pulm_age = pd.read_csv(pulm_age_path)
pulm_age

,state,county_name,state_fips,res_countyfips,res_statefips,age_cat,mort_count,fileyear,filetype
0,Alabama,Autauga,1,1,AL,30 - 49 years,2,2005,US
1,Alabama,Autauga,1,1,AL,30 - 49 years,3,2006,US
2,Alabama,Autauga,1,1,AL,70 years or above,2,2006,US
3,Alabama,Autauga,1,1,AL,30 - 49 years,1,2007,US
4,Alabama,Autauga,1,1,AL,70 years or above,1,2007,US
...,...,...,...,...,...,...,...,...,...
45830,Wyoming,Weston,56,45,WY,30 - 49 years,1,2008,US
45831,Wyoming,Weston,56,45,WY,70 years or above,1,2009,US
45832,Wyoming,Weston,56,45,WY,70 years or above,1,2011,US
45833,Wyoming,Weston,56,45,WY,70 years or above,1,2015,US
45834,Wyoming,Weston,56,45,WY,70 years or above,1,2018,US

In [127]:
pulm_age_summ = (
    pulm_age.groupby(["res_statefips", "county_name", "age_cat", 
                       "fileyear"], as_index = False)
       .agg(sum=("mort_count", "sum")))

In [129]:
pulm_age_cens = pd.merge(results, 
                 pulm_age_summ, on = ["res_statefips", "county_name"], 
                 how = "inner")
pulm_age_cens.rename(columns = {'sum': 'total_mortality'}, inplace = True)
pulm_age_cens = pulm_age_cens[['county_fips', 'res_statefips', 'county_name', 
                       'age_cat', 'fileyear', 'total_mortality']]
pulm_age_cens.to_csv("pulmonary_census_data.csv", index = False)